<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <webServices>
      <protocols>
                <clear />
                <add name="HttpSoap, HttpGet, HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="cnsOPlan" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\oplandb.mdb;Persist Security Info=True;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <!--authentication mode="Windows" />
  <authorization>
    <allow verbs="OPTIONS" users="*"/>
    <deny users="?" />
  </authorization-->
  <!--
    Custom headers section is required to allow cross-domain access to the web service
    which is required to continue development with Angular using localhost/<port#>
  -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
<!--ProjectGuid: {2757f7b2-8c80-4717-84df-07aae1f7484c}-->